<!doctype html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>WMS</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/editProjDetails.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/3.1.1/jquery.serializejson.js" ></script>

		
		

</head>

<body>
	<% let db=JSON.parse(data) %>

	<div class="row no-gutters jumbotron" style="padding: 0px;">
		<nav>
			<input type="checkbox" id="check">
			<label for="check" class="checkbtn">
			  <i class="las la-bars"></i>
			</label>
			<label for="logo" class="logo"><a href="/" style="text-decoration: none;">WMS</a></label>
			<ul>
			  <li><a style="text-decoration: none; color: #fff;"  onclick="logout()" >Logout</a></li>
			  
			</ul>
		  </nav>
		
		<!-- Display the details of project like project name,
		project duration that is for how long it will exist,
		team details , mentor details -->  
		<div class="col-xl-9">
			<div class="jumbotron">
				<div class="container">
					<h2  class="display-5">
						Project Name : <%=db['project_name']%>
					</h2>
					<hr class="my-2">
					<p class="card-text">
						<% if (db['duration']) { %>
							Duration : <%=db['duration']%> <br>
						<% } %>
						
						Team:
					
						<% Object.keys(db['team']).forEach(element => { %>
								<img onmouseover="showname()" onmouseout="hidename()" name="<%= element %>" src="https://ui-avatars.com/api/?background=random&rounded=true&size=32&name=<%= element.split(" ").join("+") %> %>">  
								<span id="<%= element %>" class="tooltiptext"><%= element %> </span>
						<% }) %>
						<br>
						<% if (db['mentor']) { %>
							Mentor:
							<% Object.keys(db['mentor']).forEach(element => { %>
								<img onmouseover="showname()" onmouseout="hidename()" name="<%= element %>" src="https://ui-avatars.com/api/?background=random&rounded=true&size=32&name=<%= element.split(" ").join("+") %> %>">  
								<span id="<%= element %>" class="tooltiptext"><%= element %> </span>
						<% }) %>
						<% } %>
					</p>	
				</div>
			</div>
		</div>
		<!-- Progress information is retrived that what task has been 
		assigned and how much progress has been done in that 
		particular task with that overall progress is displayed at the top -->
		<div class="col-xl-3 d-none d-md-block">
			<div class="card-body">
				<div class="row">

					<div class="col-xl-6">
						<div class="progress-circle over50 p100">
							<span>100%</span>
							<div class="left-half-clipper">
								<div class="first50-bar"></div>
								<div class="value-bar"></div>
							</div>	
				 		</div>
						Assigned Progress
					</div>

					<div class="col-xl-6">
						<div class="progress-circle p<%= db.progress %>">
							<span><%= db.progress %>%</span>
							<div class="left-half-clipper">
								<div class="first50-bar"></div>
								<div class="value-bar"></div>
							</div>
				 		</div>
				 		Overall Progress
					</div>

				</div>
			</div>
		</div>
	</div>

	<!-- Here different options are available that whether
	to go to project through git link where it is uploaded or some google doc link
	or redirect to slack channel -->
	<% if (db['git'] || db['doc'] || db['slack']) { %> 

		<div class="no-gutters">
			<div class="col-xl-12">
				<div class="card text-left">
					<div class="card-body">
						<% if (db['git']) { %>
							
							<a class="btn btn-secondary" href=<%=db['git']%> >
								<i class="bi bi-github" aria-hidden="true"></i> Go To Git
							</a>
						<% } %>
						<% if (db['doc']) { %>
							<a class="btn btn-primary" href=<%=db['doc']%> >
								<i class="bi bi-file-earmark-word" aria-hidden="true"></i> Go To Doc 
							</a>
						<% } %>
						<% if (db['slack']) { %>
							<a class="btn btn-warning" href=<%=db['slack']%> >
								<i class="bi bi-slack" aria-hidden="true"></i> Go To Slack
							</a>
						<% } %>
					</div>
				</div>
			</div>
		</div>
		<% } %> 
		<form>
			<!-- Display of task assigned whether it is front end development , backend development, testing, deployment.
			Based on the task id of the particular task it is been retrived from database
			and shown on website -->
</div>
	<div class="jumbotron row no-gutters">
		<div class="col-xl-5">
			<div class="text-left">
				<div class="card-body">
					<h3>Project Details</h3>
					<br>
					<ul id=1 style="list-style-type: none;">
						<li >
							<input onchange="render()" name=task[name] id="task[name]" onclick="showdesc()" id=0 class="list-group-item list-group-item-primary taskinput" style="display:inline-block; margin:5px;" placeholder="TaskName">
							<i onclick="return addchild()" class="fa fa-plus-circle" aria-hidden="true"></i>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-xl-7">
			<div class="text-left">
				<div class="card-body" id="description">
					<div class="form-group" id="task[description]">
						<h3 id=task[heading]></h3>
						<div id="inp" >
							<input name="task[category]" id="task[category]" type="text" placeholder="Category"/>
						</div>
						
						<br>
						<br>
						<div id="tags" >
							<input type="text" placeholder="Add a skill" />
							<input name="task[skills]" id="task[skills]" type="hidden" value=""/>
						</div>
						<br><br><br>
						<label >Task Description: </label>
						<div id="inp" style="display: block;">
						<textarea class="form-control" name="task[description]" id="task[description]" rows="15"></textarea>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="d-flex justify-content-center">
	<button onclick="handlesubmit()" class="btn btn-primary">Submit</button>
	</div>
</form>


<!-- <div class="jumbotron row no-gutters">
		<div class="col-xl-5">
			<div class="text-left">
				<div class="card-body">
					<h3>Project Details</h3>
					<br>
					<ul id=1 style="list-style-type: none;">
						<li >
							<input onchange="render()" name=task[name] id="task[name]" onclick="showdesc()" id=0 class="list-group-item list-group-item-primary taskinput" style="display:inline-block; margin:5px;" placeholder="TaskName">
							<i onclick="return addchild()" class="fa fa-plus-circle" aria-hidden="true"></i>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-xl-7">
			<div class="text-left">
				<div class="card-body" id="description">
					<div class="form-group" id="task[description]">
						<h3 id=task[heading]></h3>
						<div id="inp" >
							<input name="task[category]" id="task[category]" type="text" placeholder="Category"/>
						</div>
						
						<br>
						<br>
						<div id="tags" >
							<input type="text" placeholder="Add a skill" />
							<input name="task[skills]" id="task[skills]" type="hidden" value=""/>
						</div>
						<br><br><br>
						<label >Task Description: </label>
						<div id="inp" style="display: block;">
						<textarea class="form-control" name="task[description]" id="task[description]" rows="15"></textarea>
					</div>
					</div>
				</div>
			</div>
		</div>
 -->
	
	
</body>
<script src="/js/editProjDetails.js"></script>
<script>

	function logout() {

	var request=new XMLHttpRequest()
	request.open("POST", "/logout");
	request.setRequestHeader("Content-Type","application/json")
	request.send()
	request.onreadystatechange = function () {
  if(request.readyState === XMLHttpRequest.DONE) {
	  var status = request.status;
	  if (status === 0 || (status >= 200 && status < 400)) {
		  window.location=(request.responseText)
	  }else {
			alert(request.responseText)
		}
  }
}

	
	
	}
</script>

<script> 

function handlesubmit(){
	if(validateForm()){
		event.preventDefault()
		data=$('form').serializeJSON()
		var http = new XMLHttpRequest();
		http.open("POST", "/project/<%= projid %>/submit");
		http.setRequestHeader("Content-Type","application/json")
		http.send(JSON.stringify(data));
		http.onreadystatechange = function () {
			if(http.readyState === XMLHttpRequest.DONE) {
				var status = http.status;
				if (status === 0 || (status >= 200 && status < 400)) {
					window.location=('/project/'+http.responseText)
				} else {
					alert("Something Went Wrong!! Please Try again Later!")
				}
			}
		}
	}
} 

	jQuery(function($) {
		$('#tags input').on('focusout', function() {
			var txt = this.value.replace(/[^a-zA-Z0-9\+\-\.\#]/g, ''); 
			if (txt) {
				$(this).before('<span class="tag">' + txt + '</span>');
				document.getElementById('task[skills]').value+=txt+' '
			}
			this.value = "";
		}).on('keyup', function(e) {
			if (/(188|13)/.test(e.which)) $(this).trigger('focusout');
		});
		$('#tags').on('click', '.tag', function() {
			var removeIndex=document.getElementById('task[skills]').value.length-(this.innerHTML.length+1)
			document.getElementById('task[skills]').value=document.getElementById('task[skills]').value.slice(0,removeIndex)
			$(this).remove();
	});
	
	});
	
	
</script>
</html>




		

