<!doctype html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>WMS</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/mentorReview.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
  <link  rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

	<script src="https://code.jquery.com/jquery-3.5.1.min.js" ></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<!-- <head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>WMS</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/mentorReview.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
  <link  rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

	<script src="https://code.jquery.com/jquery-3.5.1.min.js" ></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head> -->

<body>
	<% let db=JSON.parse(data) %>
	<div class="row no-gutters">
		<nav>
			<input type="checkbox" id="check">
			<label for="check" class="checkbtn">
			  <i class="las la-bars"></i>
			</label>
			<label for="logo" class="logo">
				<a href="/" style="text-decoration: none;">WMS</a>
			</label>
			<ul>
			  <li>
					<a style="text-decoration: none; color: #fff;" onclick="logout()" >Logout</a>
				</li>
			</ul>
		</nav>

		<div class="col-xl-9">
			<div class="jumbotron jumbotron-fluid">
				<div class="container">
					<h2  class="display-5">
						Project Name : <%=db['project_name']%>
					</h2>
					<hr class="my-2">
					<p class="card-text">
						<% if (db['duration']) { %>
							Duration : <%=db['duration'] %> Days
							<br>
						<% } %>
						Team:
						<% Object.keys(db['team']).forEach(element => { %>
							<img onmouseover="showname()" onmouseout="hidename()" name="<%= element %>" src="https://ui-avatars.com/api/?background=random&rounded=true&size=32&name=<%= element.split(" ").join("+") %> %>">
							<span id="<%= element %>" class="tooltiptext"><%= element %> </span>
						<% }) %>
						<br>
						<% if (db['mentor']) { %>
							Mentor:
							<% Object.keys(db['mentor']).forEach(element => { %>
								<img onmouseover="showname()" onmouseout="hidename()" name="<%= element %>" src="https://ui-avatars.com/api/?background=random&rounded=true&size=32&name=<%= element.split(" ").join("+") %> %>">  
								<span id="<%= element %>" class="tooltiptext"><%= element %> </span>
							<% }) %>
						<% } %>
					</p>	
				</div>
			</div>
		</div>

		<div class="col-xl-3 d-none d-md-block">
			<div class="card-body">
				<div class="row">

					<div class="col-xl-3">	
					</div>

					<div class="col-xl-6">
						<% if( parseInt(((db.progress/db.totalprogress)*100)) > 50 ){ %>
							<div class="progress-circle over50 p<%= ((db.progress/db.totalprogress)*100).toFixed(0) %>">
						<% } %>
						<% if( parseInt(((db.progress/db.totalprogress)*100)) <= 50 ) { %>
							<div class="progress-circle p<%= ((db.progress/db.totalprogress)*100).toFixed(0) %>">
						<% } %>
							<span id="_progress"><%= ((db.progress/db.totalprogress)*100).toFixed(0) %>%</span>
							<div class="left-half-clipper">
								<div class="first50-bar"></div>
								<div class="value-bar"></div>
							</div>
				 		</div>
				 		Overall Progress 
					</div>

				</div>
			</div>
		</div>
		<!-- <div class="col-xl-3 d-none d-md-block">
			<div class="card-body">
				<div class="row">

					<div class="col-xl-3">	
					</div>

					<div class="col-xl-6">
						<% if( parseInt(((db.progress/db.totalprogress)*100)) > 50 ){ %>
							<div class="progress-circle over50 p<%= ((db.progress/db.totalprogress)*100).toFixed(0) %>">
						<% } %>
						<% if( parseInt(((db.progress/db.totalprogress)*100)) <= 50 ) { %>
							<div class="progress-circle p<%= ((db.progress/db.totalprogress)*100).toFixed(0) %>">
						<% } %>
							<span id="_progress"><%= ((db.progress/db.totalprogress)*100).toFixed(0) %>%</span>
							<div class="left-half-clipper">
								<div class="first50-bar"></div>
								<div class="value-bar"></div>
							</div>
				 		</div>
				 		Overall Progress 
					</div>

				</div>
			</div>
		</div> -->
	</div>

	<% if (db['git'] || db['doc'] || db['slack']) { %> 
		<div class="no-gutters">
			<div class="col-xl-12">
				<div class="card text-left">
					<div class="card-body">
						<% if (db['git']) { %>
							<a class="btn btn-secondary" href=<%=db['git']%> >
								<i class="bi bi-github" aria-hidden="true"></i> Go To Git
							</a>
						<% } %>
						<% if (db['doc']) { %>
							<a class="btn btn-primary" href=<%=db['doc']%> >
								<i class="bi bi-file-earmark-word" aria-hidden="true"></i> Go To Doc 
							</a>
						<% } %>
						<% if (db['slack']) { %>
							<a class="btn btn-warning" href=<%=db['slack']%> >
								<i class="bi bi-slack" aria-hidden="true"></i> Go To Slack
							</a>
						<% } %>
					</div>
				</div>
			</div>
		</div>
	<% } %>

	<div class="no-gutters">
		<div class="col-xl-12">
			<div class="card text-left">
				<div class="card-body" style="padding: 20px 0px;">

					<nav class="navbar navbar-expand-custom navbar-mainbg">
						<div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
							<ul class="navbar-nav">
								<div class="hori-selector">
									<div class="left"></div>
									<div class="right"></div>
								</div>

								<li class="nav-item">
									<a class="nav-link" href="/project/<%=db['projid']%>">Project Details</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/project/<%=db['projid']%>/progress">Project Progress</a>
								</li>
								<li class="nav-item active">
									<a class="nav-link" href="/project/<%=db['projid']%>/review">Mentor Review
										<div class="d-none d-sm-block"></div>
									</a>
								</li>
							</ul>
						</div>
					</nav>

				</div>
			</div>
		</div>
	</div>

  <div class="container bootdey">
    <div class="col-md-12 bootstrap snippets">

      <div class="panel">
      	<div class="panel-body">
					<form onsubmit ="formSubmit()">
						<div class="dropdown">
							<label for="dropdown">Select The Task You want to Comment On: </label>
							<div class="select">
								<select id="dropdown" name="role">
									<% for (var i in db['task']['subtask']) { %>
										<optgroup label="<%= db['task']['subtask'][i]['name']%>">
											<% if(!db['task']['subtask'][i]['subtask']){ %>
												<option value="<%=i%>"> <%= db['task']['subtask'][i]['name']%></option>
											<% } %>
											<% for (var j in db['task']['subtask'][i]['subtask']) { %>
												<option value="<%=i%>,subtask,<%=j%>"><%= db['task']['subtask'][i]['subtask'][j]['name']%></option>
											<% } %>
										</optgroup>
									<% } %>
								</select>
							</div>
						</div>
						<br>
						<div id="commentinp">
							<textarea class="form-control" rows="3" id="message" placeholder="Write your comment here..."></textarea>
							<div class="mar-top clearfix">
								<button class="btn btn-sm btn-primary pull-right" type="submit">
									<i class="fa fa-pencil fa-fw"></i> Comment
								</button>
							</div>
						</div>
					</form>
        </div>
      </div>
	  <!-- <div class="container bootdey">
		<div class="col-md-12 bootstrap snippets">
	
		  <div class="panel">
			  <div class="panel-body">
						<form onsubmit ="formSubmit()">
							<div class="dropdown">
								<label for="dropdown">Select The Task You want to Comment On: </label>
								<div class="select">
									<select id="dropdown" name="role">
										<% for (var i in db['task']['subtask']) { %>
											<optgroup label="<%= db['task']['subtask'][i]['name']%>">
												<% if(!db['task']['subtask'][i]['subtask']){ %>
													<option value="<%=i%>"> <%= db['task']['subtask'][i]['name']%></option>
												<% } %>
												<% for (var j in db['task']['subtask'][i]['subtask']) { %>
													<option value="<%=i%>,subtask,<%=j%>"><%= db['task']['subtask'][i]['subtask'][j]['name']%></option>
												<% } %>
											</optgroup>
										<% } %>
									</select>
								</div>
							</div>
							<br>
							<div id="commentinp">
								<textarea class="form-control" rows="3" id="message" placeholder="Write your comment here..."></textarea>
								<div class="mar-top clearfix">
									<button class="btn btn-sm btn-primary pull-right" type="submit">
										<i class="fa fa-pencil fa-fw"></i> Comment
									</button>
								</div>
							</div>
						</form>
			</div>
		  </div> -->
			
			<%for(var i in db['task']['subtask']) { %>
				<% if(!db['task']['subtask'][i]['subtask']){ %>
					<% for( var z in db['task']['subtask'][i]['comments']) { %>
						<div class="panel">
							<div class="panel-body">
								<div class="media-block">
									<div class="media-left px-2" >
										<img name="Ninad" src="https://ui-avatars.com/api/?background=random&rounded=true&size=32&name=<%=db['task']['subtask'][i]['comments'][z]['name']%>">
									</div>  
									<div class="media-body">
										<div class="mar-btm">
											<a id="<%=i%>,<%=db['task']['subtask'][i]['comments'][z]['id']%>" class="btn-link text-semibold media-heading box-inline px-1 py-2"><%= db['task']['subtask'][i]['comments'][z]['name'] %></a>
											<br>
											<button type="button" style="font-size: 65%;" class="btn btn-success btn-sm ml-1 mr-1"><%= db['task']['subtask'][i]['name'] %></button>	
										</div>
										<p style="padding: 0rem;margin-top: 10px;"><%= db['task']['subtask'][i]['comments'][z]['message']%></p>
							
										<span style="color: gray;"><%= db['task']['subtask'][i]['comments'][z]['commentDate']%></span>
										<i onclick="replyinp()"  class="btn btn-trans btn-icon fa fa-reply add-tooltip"></i>
									<hr>
									<div>
										<% for( var x in db['task']['subtask'][i]['comments'][z]['replies']) { %>
											<div class="media-block">
												<div class="media-left px-2">
													<img src="https://ui-avatars.com/api/?background=random&rounded=true&size=32&name=<%=  db['task']['subtask'][i]['comments'][z]['replies'][x]['name'] %>">
												</div>  
												<div class="media-body">
													<div class="mar-btm">
														<a id="<%=i%>,<%=db['task']['subtask'][i]['comments'][z]['id']%>,<%= x %>" class="btn-link text-semibold media-heading box-inline px-1 py-2"><%=  db['task']['subtask'][i]['comments'][z]['replies'][x]['name'] %></a>
														<br>
														<button type="button" style="font-size: 65%;" class="btn btn-success btn-sm ml-1 mr-1"><%= db['task']['subtask'][i]['name'] %></button>
													</div>
													<p style="padding: 0rem;margin-top: 10px;"><span style="color: #007bff;"><%=  db['task']['subtask'][i]['comments'][z]['replies'][x]['replyto'] %> </span> <%=  db['task']['subtask'][i]['comments'][z]['replies'][x]['message'] %></p>
													<span style="color: gray;"><%= db['task']['subtask'][i]['comments'][z]['replies'][x]['commentDate']%></span>
													<i onclick="replyinp2()"  class="btn btn-trans btn-icon fa fa-reply add-tooltip"></i>
													
													
													<hr>
												</div>
											</div>
										<% } %>
									</div>
								</div>
							</div>
						</div>
					</div>			
					<% } %>
				<% }%>
				<% for(var j in db['task']['subtask'][i]['subtask'] ) { %>
					<% for( var k in db['task']['subtask'][i]['subtask'][j]['comments']){ %>
						<div class="panel">
							<div class="panel-body">
								<div class="media-block">
									<div class="media-left px-2" >
										<img name="Ninad" src="https://ui-avatars.com/api/?background=random&rounded=true&size=32&name=<%=db['task']['subtask'][i]['subtask'][j]['comments'][k]['name']%>">
									</div>  
									<div class="media-body">
										<div class="mar-btm">
											<a id="<%=i%>,subtask,<%=j%>,<%=db['task']['subtask'][i]['subtask'][j]['comments'][k]['id']%>" class="btn-link text-semibold media-heading box-inline px-1 py-2"><%= db['task']['subtask'][i]['subtask'][j]['comments'][k]['name'] %></a>
											<br>
											<button type="button" style="font-size: 65%;" class="btn btn-success btn-sm ml-1 mr-1"><%= db['task']['subtask'][i]['name'] %></button>
											<button type="button" class="btn btn-warning btn-sm " style="font-size: 65%;"><%= db['task']['subtask'][i]['subtask'][j]['name'] %></button>
										</div>
										
										<p style="padding: 0rem;margin-top: 10px;"><%= db['task']['subtask'][i]['subtask'][j]['comments'][k]['message']%></p>
									
										
										<span style="color: gray;"><%= db['task']['subtask'][i]['subtask'][j]['comments'][k]['commentDate']%></span>
										<i onclick="replyinp()" class="btn btn-trans btn-icon fa fa-reply add-tooltip"></i>
			
										<hr>
										<div>
											<% for( var l in db['task']['subtask'][i]['subtask'][j]['comments'][k]['replies']) { %>
												<div class="media-block">
													<div class="media-left px-2">
														<img src="https://ui-avatars.com/api/?background=random&rounded=true&size=32&name=<%=  db['task']['subtask'][i]['subtask'][j]['comments'][k]['replies'][l]['name'] %>">
													</div>  
													<div class="media-body">
														<div class="mar-btm">
															<a id="<%=i%>,subtask,<%=j%>,<%= k%>,<%=l%>" class="btn-link text-semibold media-heading box-inline px-1 py-2"><%=  db['task']['subtask'][i]['subtask'][j]['comments'][k]['replies'][l]['name'] %></a>
															<br>
															
														</div>
														
														<p style="padding: 0rem;margin-top: 10px;"><span style="color: #007bff;"><%=  db['task']['subtask'][i]['subtask'][j]['comments'][k]['replies'][l]['replyto'] %></span><%=  db['task']['subtask'][i]['subtask'][j]['comments'][k]['replies'][l]['message'] %></p>

														<span style="color: gray;"><%= db['task']['subtask'][i]['subtask'][j]['comments'][k]['replies'][l]['commentDate']%></span>
														<i onclick="replyinp2()"  class="btn btn-trans btn-icon fa fa-reply add-tooltip"></i>
														
														<hr>
													</div>
												</div>
											<% } %>
										</div>
									</div>
								</div>
							</div>
						</div>			
					<% } %>
				<% } %>								
			<% } %> 
  	</div>
  </div>

  <input id='pid' type=hidden value="<%= projid %>">

</body>
<script>

	function logout() {
		var request=new XMLHttpRequest()
		request.open("POST", "/logout");
		request.setRequestHeader("Content-Type","application/json")
		request.send()
		request.onreadystatechange = function () {
			if(request.readyState === XMLHttpRequest.DONE) {
				var status = request.status;
				if (status === 0 || (status >= 200 && status < 400)) {
					window.location=(request.responseText)
				}else {
					alert(request.responseText)
				}
			}
		}
	}

</script>

<script src="/js/mentorReview.js"></script>

<script>
	$(document).ready(function(){
		$('.progressWrapper progress').each(function(){
			var prgsVal = $(this).data('value');
			var maxN = $(this).attr('max');
			var pop = prgsVal/maxN * 100
			
			$(this).prev().css('left', pop + '%').text(prgsVal);
			$(this).val(prgsVal);
		  });
		setTimeout(function(){ test(); });
	});
</script>
</html>