<!doctype html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>WMS</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		

</head>

<body>
	<% let db=JSON.parse(data) %>
	<div class="row no-gutters">
		<div class="col-xl-9">
			<div class="jumbotron jumbotron-fluid">
				<div class="container">
					<h2  class="display-5">
						Project Name : <%=db['project_name']%>
					</h2>
					<hr class="my-2">
					<p class="card-text">
						Duration : <%=db['duration']%> <br>
						Team:
						<% for( let i = 0; i < db['team'].length; i++ ) { %> 
							<%= db['team'][i] %> 
						<% } %> <br>
						Mentor : 
							<% for( let i = 0; i < db['mentor'].length; i++ ) { %>
								<%= db['mentor'][i] %> 
						<% } %>
					</p>	
				</div>
			</div>
		</div>

		<div class="col-xl-3">
			<div class=" text-left">
				<div class="card-body">
					 
				</div>
			</div>
		</div>
	</div>

	<div class="no-gutters">
		<div class="col-xl-12">
			<div class="card text-left">
				<div class="card-body">
					<a class="btn btn-primary" href=<%=db['git']%> >
						Go To Git 
					</a>
					<a class="btn btn-secondary" href=<%=db['doc']%> >
						Go To Doc 
					</a>
				</div>
			</div>
		</div>
	</div>

</div>
<div class="row no-gutters">
	<div class="col-xl-5">
		<div class="text-left">
			<div class="card-body">
				<h3>Project Details</h3><br>
				
				<ul style="list-style-type: none;"> 
					<li>
						<i class="fa fa-plus-circle" aria-hidden="true"></i>
						<span class="list-group-item list-group-item-primary" style="display:inline-block; margin:5px;" id="<%= db['task'].name %>">
							<%= db['task'].name %>
						</span>
						<ul style="list-style-type: none;display: none;">
								<%for (var i in db['task']['subtask']) { %>
									<li> 
										<i  class="fa fa-plus-circle" aria-hidden="true"></i>
										<span class="list-group-item list-group-item-danger " id="<%= db['task']['subtask'][i]['name']%>" style="display: inline-block;margin: 5px;">
											<%= db['task']['subtask'][i]['name'] %>
										</span>
										<ul style="list-style-type: none;display: none;">
											<% for( var j in db['task']['subtask'][i]['subtask'] ) { %>
												<li> 
													<i class="fa fa-plus-circle" aria-hidden="true"></i>
													<span class="list-group-item list-group-item-success"id="<%= db['task']['subtask'][i]['subtask'][j]['name'] %> " style="display: inline-block;margin: 5px;">
														<%= db['task']['subtask'][i]['subtask'][j]['name'] %> 
													</span>
													<ul style="list-style-type: none;display: none;">
														<% for( var k in db['task']['subtask'][i]['subtask'][j]['subtask'] ) { %>
															<li>
																<span class="list-group-item list-group-item-warning" id="<%= db['task']['subtask'][i]['subtask'][j]['subtask'][k]['name'] %>" style="display: inline-block;margin: 5px;">
																<%= db['task']['subtask'][i]['subtask'][j]['subtask'][k]['name'] %>
																</span>
															</li>
														<% } %> 
													</ul>										
												</li>
											<% } %>
										</ul>
									</li>
								<%}%> 
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-xl-7">
		<div class="jumbotron <%= db['task'].name %>
			" style="display: block;background-color: white;">
			<h1 class="display-5">
				<%= db['task'].name %>
			</h1>
			<p>Category: <%= db['task'].category %><br>
				Skills: <%= db['task'].skills %></p>
				<hr class="my-2">
			<p>
				<%= db['task'].description %>
			</p>
		</div>
		<%	for (var i in db['task']['subtasks']) { %>
			<div class="jumbotron <%= db['task']['subtask'][i].name %>
				" style="display: none;">
				<h1 class="display-5">
					<%= db['task']['subtasks'][i].name %>
				</h1>
					<hr class="my-2">
				<p>
					<%= db['task']['subtask'][i].description %>
				</p>
			</div>
			<% for( var j in db['task']['subtask'][i]['subtask'] ) { %>
				<div class="jumbotron <%= db['task']['subtasks'][i]['subtask'][j].name %>
					" style="display: none;">
					<h1 class="display-5">
						<%= db['task']['subtask'][i]['subtask'][j].name %>
					</h1>
						<hr class="my-2">
					<p>
						<%= db['task']['subtask'][i]['subtask'][j].description %>
					</p>
				</div>

				<% for( var k in db['task']['subtask'][i]['subtask'][j]['subtask'] ) { %>
					<p>
						<%= db['task']['subtask'][i]['subtask'][j].description %>
					</p>

					<%}%>

				<%}%>
		<% } %> 

	</div>
</div>
	
	
</body>
<script src="/js/projDetails.js"></script>



</html>