<!doctype html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>WMS</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/projectDetails.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">

	<script src="https://code.jquery.com/jquery-3.5.1.min.js" ></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
		
</head>

<body>

	<% let db=JSON.parse(data) %>
	<div class="row no-gutters jumbotron" style="padding: 0px;">
		<div class="col-xl-9">
			<div class="jumbotron">
				<div class="container">
					<h2  class="display-5">
						Project Name : <%=db['project_name']%>
					</h2>
					<hr class="my-2">
					<p class="card-text">
						<% if (db['duration']) { %>
							Duration : <%=db['duration']%> <br>
						<% } %>
						
						Team:
					
						<% Object.keys(db['team']).forEach(element => { %>
								<img onmouseover="showname()" onmouseout="hidename()" name="<%= element %>" src="https://ui-avatars.com/api/?background=random&rounded=true&size=32&name=<%= element.split(" ").join("+") %> %>">  
								<span id="<%= element %>" class="tooltiptext"><%= element %> </span>
						<% }) %>
						<br>
						<% if (db['mentor']) { %>
							Mentor:
							<% Object.keys(db['mentor']).forEach(element => { %>
								<img onmouseover="showname()" onmouseout="hidename()" name="<%= element %>" src="https://ui-avatars.com/api/?background=random&rounded=true&size=32&name=<%= element.split(" ").join("+") %> %>">  
								<span id="<%= element %>" class="tooltiptext"><%= element %> </span>
						<% }) %>
						<% } %>
					</p>	
				</div>
			</div>
		</div>

		<div class="col-xl-3 d-none d-md-block">
			<div class="card-body">
				<div class="row">

					<div class="col-xl-6">
						<div class="progress-circle over50 p100">
							<span>100%</span>
							<div class="left-half-clipper">
								<div class="first50-bar"></div>
								<div class="value-bar"></div>
							</div>	
				 		</div>
						Assigned Progress
					</div>

					<div class="col-xl-6">
						<div class="progress-circle p<%= db.progress %>">
							<span><%= db.progress %>%</span>
							<div class="left-half-clipper">
								<div class="first50-bar"></div>
								<div class="value-bar"></div>
							</div>
				 		</div>
				 		Overall Progress
					</div>

				</div>
			</div>
		</div>
	</div>

	<% if (db['git'] || db['doc'] || db['slack']) { %> 

	<div class="no-gutters">
		<div class="col-xl-12">
			<div class="card text-left">
				<div class="card-body">
					<% if (db['git']) { %>
						
						<a class="btn btn-secondary" href=<%=db['git']%> >
							<i class="bi bi-github" aria-hidden="true"></i> Go To Git
						</a>
					<% } %>
					<% if (db['doc']) { %>
						<a class="btn btn-primary" href=<%=db['doc']%> >
							<i class="bi bi-file-earmark-word" aria-hidden="true"></i> Go To Doc 
						</a>
					<% } %>
					<% if (db['slack']) { %>
						<a class="btn btn-warning" href=<%= db['slack']%> >
							<i class="bi bi-slack" aria-hidden="true"></i> Go To Slack
						</a>
					<% } %>
				</div>
			</div>
		</div>
	</div>
	<% } %> 


	<div class="no-gutters">
		<div class="col-xl-12">
			<div class="card text-left">
				<div class="card-body" style="padding: 20px 0px;">
					<nav class="navbar navbar-expand-custom navbar-mainbg">
					
						<div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
								<ul class="navbar-nav">
										<div class="hori-selector"><div class="left"></div><div class="right"></div></div>
										
										<li class="nav-item active">
												<a class="nav-link" href="/project/<%=db['projid']%>">Project Details</a>
										</li>
										<li class="nav-item">
												<a class="nav-link" href="/project/<%=db['projid']%>/progress">Project Progress</a>
										</li>
										<li class="nav-item">
												<a class="nav-link" href="javascript:void(0);">Mentor Review<div class="d-none d-sm-block">
													
												</div></a>
										</li>
								</ul>
						</div>
				</nav>
					
				</div>
			</div>
		</div>
	</div>

</div>
<div class="row no-gutters">
	<div class="col-xl-5">
		<div class="text-left">
			<div class="card-body">
				<h3>Project Details</h3><br>
				
				<ul style="list-style-type: none;"> 
					<li>
						<i class="fa fa-plus-circle" aria-hidden="true"></i>
						<span class="list-group-item list-group-item-primary" style="display:inline-block; margin:5px;" id="<%= db['task'].name %>">
							<%= db['task'].name %>
						</span>
						<ul style="list-style-type: none;display: none;">
								<%for (var i in db['task']['subtask']) { %>
									<li> 
										<i  class="fa fa-plus-circle" aria-hidden="true"></i>
										<span class="list-group-item list-group-item-danger " id="<%= db['task']['subtask'][i]['name']%>" style="display: inline-block;margin: 5px;">
											<%= db['task']['subtask'][i]['name'] %>
										</span>
										<ul style="list-style-type: none;display: none;">
											<% for( var j in db['task']['subtask'][i]['subtask'] ) { %>
												<li> 
													<i class="fa fa-plus-circle" aria-hidden="true"></i>
													<span class="list-group-item list-group-item-success"id="<%= db['task']['subtask'][i]['subtask'][j]['name'] %> " style="display: inline-block;margin: 5px;">
														<%= db['task']['subtask'][i]['subtask'][j]['name'] %> 
													</span>
													<ul style="list-style-type: none;display: none;">
														<% for( var k in db['task']['subtask'][i]['subtask'][j]['subtask'] ) { %>
															<li>
																<span class="list-group-item list-group-item-warning" id="<%= db['task']['subtask'][i]['subtask'][j]['subtask'][k]['name'] %>" style="display: inline-block;margin: 5px;">
																<%= db['task']['subtask'][i]['subtask'][j]['subtask'][k]['name'] %>
																</span>
															</li>
														<% } %> 
													</ul>										
												</li>
											<% } %>
										</ul>
									</li>
								<%}%> 
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="jumbotron col-xl-7" style="padding-top:0px;padding-bottom: 0px;margin-bottom: 0px;">
		<div class="jumbotron <%= db['task'].name %> " style="display:block;">
			<h1 class="display-5">
			 <%= db['task'].name %>
			</h1>
			<h6 >
				Category: <%= db['task'].category %>
			</h6>
			<div>
				<h6 >
				Skills: 
				<% for(var i=0;i< db['task']['skills'].length;i++){ %>
					<p class="tag"> <%=  db['task']['skills'][i] %></p>
				<% } %> 
			</h6>
			</div>

				<hr>
				<p>
				<%= db['task'].description %>
			</p>
		</div>
		<%	for (var i in db['task']['subtask']) { %>
			<div class="jumbotron <%= db['task']['subtask'][i].name %>
				" style="display: none;">
				<h1 class="display-5">
					<%= db['task']['subtask'][i].name %>
				</h1>
					<hr class="my-2">
				<p>
					<%= db['task']['subtask'][i].description %>
				</p>
			</div>
			<% for( var j in db['task']['subtask'][i]['subtask'] ) { %>
				<div class="jumbotron <%= db['task']['subtask'][i]['subtask'][j].name %>
					" style="display: none;">
					<h1 class="display-5">
						<%= db['task']['subtask'][i]['subtask'][j].name %>
					</h1>
						<hr class="my-2">
					<p>
						<%= db['task']['subtask'][i]['subtask'][j].description %>
					</p>
				</div>

				<% for( var k in db['task']['subtask'][i]['subtask'][j]['subtask'] ) { %>
					<div class="jumbotron <%= db['task']['subtask'][i]['subtask'][j]['subtask'][k].name %>
						" style="display: none;">
						<h1 class="display-5">
							<%= db['task']['subtask'][i]['subtask'][j]['subtask'][k].name %>
						</h1>
							<hr class="my-2">
						<p>
							<%= db['task']['subtask'][i]['subtask'][j]['subtask'][k].description %>
						</p>
					</div>
				
					<%}%>

				<%}%>
		<% } %> 

	</div>
</div>

	
	
</body>
<script src="/js/projDetails.js"></script>
<script>
	$(document).ready(function(){
		setTimeout(function(){ test(); });
	});
</script>




</html>